<mat-card class="my-30 mx-15">
  <h3 class="">Fill in the details here</h3>
  <mat-divider></mat-divider>
  <form [formGroup]="DocForm" (ngSubmit)="onSubmit()" class="pt-24">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2%" *ngFor="let field of fields; let i = index">
      <ng-container *ngIf="i % 2 == 0 || i == 0">
        <app-dynamic-field class="w-100" [type]="field[1]" [name]="field[0]" [formControlName]="field[0]"></app-dynamic-field>
        <ng-container *ngIf="fields[i+1] != null">
          <app-dynamic-field class="w-100" [type]="fields[i+1][1]" [name]="fields[i+1][0]" [formControlName]="fields[i+1][0]"></app-dynamic-field>
        </ng-container>
      </ng-container>
    </div>
    <div class="pos-bot">
      <button type="submit" (click)="pdf()" mat-raised-button color="warn">Export as PDF</button>
      <button type="submit" (click)="doc()" mat-raised-button color="primary">Export as DOC</button>
    </div>
  </form>
</mat-card>